/* * {
margin: 0px;
padding: 0px;
box-sizing: border-box;
} */

body {
    font-family: "Poppins", sans-serif;
    /*  */
    background: -webkit-linear-gradient(bottom, cyan, white);
}

.Logo-utama {
    position: relative;
    left: 450px;
    top: 20px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
}

.nav-Links {
    justify-content: space-around;
    list-style: none;
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    background: #00cccc;
    padding: 4px 0px;
}

.head1 {
    display: flex;
}

.i-user {
    position: relative;
    left: 85%;
    display: inline-block;
    background-color: white;
    box-shadow: 2px 2px black;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 0 8px;
}

.i-search {
    position: relative;
    left: 5%;
    display: inline-block;
    background-color: white;
    box-shadow: 2px 2px black;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 0 8px;
}

.gambar-utama #logo {
    width: 130px;
    height: 40px;
    position: absolute;
    left: 70px;
    top: 90px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px black;
    opacity: 0.7;
}

.gambar-utama {
    display: inline-block;
    align-items: center;
    position: relative;
    left: 25%;
}

.gambar-utama #mainGambar {
    background: white;
    padding: 10px 40px;
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0px;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.container {
    width: 800px;
    position: relative;
    border-radius: 20px;
    padding: 10px 30px;
    background: #ccffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    margin: 0;
    width: 80%;
    height: 500px;
    left: 10%;
}

.container img {
    width: 10%;
    height: 10%;
    position: relative;
    left: 40px;
}

.container #img1 {
    position: relative;
    left: 37px;
}

.gambar-utama .capt1 {
    font-size: 30px;
    color: gray;
    position: absolute;
    top: 150px;
    left: 70px;
    font-size: 20px;
    font-weight: bold;
    background: white;
    border-radius: 20px;
    padding: 0 5px;
}

.gambar-utama .capt2 {
    font-size: 30px;
    color: gray;
    position: absolute;
    top: 190px;
    left: 70px;
    font-size: 20px;
    font-weight: bold;
    background: white;
    border-radius: 20px;
    padding: 0 5px;
}

.container #radoc {
    position: relative;
    left: 60px;
    top: 0px;
}

.container #img2 {
    position: absolute;
    height: 120px;
    width: 100px;
    background-color: gray;
    padding: 3px 3px;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0;
    top: 60px;
}

.container #text1 {
    position: relative;
    left: 190px;
    top: 30px;
    background: white;
    width: 670px;
    border-radius: 20px;
    padding: 3px 10px;
}

.container #text2 {
    position: relative;
    left: 190px;
    top: 55px;
    background: white;
    width: 670px;
    border-radius: 20px;
    padding: 3px 10px;
}

.container #img1 {
    position: absolute;
    height: 120px;
    width: 100px;
    background-color: gray;
    padding: 3px 3px;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0;
    top: 320px;
}

.container #bio {
    position: relative;
    top: 65px;
}