#body{background: -webkit-linear-gradient(bottom,cyan,white); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 37%;
    height: 50%;}

    html {
    height: 150%;
    }
    
    a{text-decoration: none;
    color: black;}
    
    .icon1{display: flex;}
    
    #img1{height: 60%;
    margin-left: 2px;
    margin-top: 9px;}
    
    #img2{height: 70%;
    margin-top: 10px;
    }
    
    #img3{height: 40px;
    width: 40px;
    margin-top: 1px;}
    
    #img4{height: 100%;
    }
    
    #img5{height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 2px;}
    
    #img6{height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-left: 2px;}
    
    .lingkaran{width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #b7d6d4;
    text-align: center;
    box-shadow: 1px 2px 2px black;}
        
    .jarak{margin-top: 20px;}
        
    .logo{height: 55px;
    width: 235px;
    border-radius: 15px;
    background-color: #b7d6d4;
    text-align: center;
    margin-left: 37%;
    box-shadow: 1px 2px 2px black}
        
    .lingkaran1{margin-left: 37%;}
        
    .icon2{display: block;}
        
    .list{width: 55px;
    height: 355px;
    background-color: #b7d6d4;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;}
    
    #card{ background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    height: 120%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%); 
    width: 80%;}
        
    .text{margin: 20px;
    font-size: 1.2vw;}
    
    #close{display: flex;
    font-size: 1.2vw;}
    
    .close1{padding-bottom: 4%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: left;}
    
    .top1{top: 165%;}
    
    .top2{top: 170%;}
    
    .left1{left: 35%;}
    
    .left2{left: 50%;}
    
    .left3{left: 65%;}
    
    .left4{left: 45%;}
    
    .left5{left: 55%;}


@media screen and (max-width: 550px){
#card{height: 90%;
    top: 70%;
}

.logo{height: 40px;
    width: 200px;
    margin-left: 25%;
}

.lingkaran{width: 40px;
}

.lingkaran1{margin-left: 20%;}

#img1{height: 60%;
margin-left: 2px;
margin-top: 9px;}
    
    #img2{height: 70%;
    margin-top: 10px;
    }
    
    #img3{height: 40px;
    width: 40px;
    margin-top: 1px;}
    
    #img4{height: 70%;
    }
    
    #img5{height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 2px;}
    
    #img6{height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-left: 2px;}

}