* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.Logo-utama {
    position: relative;
    left: 400px;
}

.nav-Links {
    justify-content: space-around;
    list-style: none;
}

.nav-Links {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.nav-Links {
    display: flex;
    background: aquamarine;
    padding: 0px 0px;
}

.head1 {
    display: flex;
}

.i-user {
    position: relative;
    left: -10px;
}