body {
    background-image: linear-gradient(cyan, white);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 20px 20px;
}

.icon1 {
    display: flex;
}

#img1 {
    height: 35px;
    width: 35px;
    margin-left: 2px;
    margin-top: 9px;
}

#img2 {
    height: 35px;
    margin-top: 10px;
}

#img3 {
    height: 40px;
    width: 40px;
    margin-top: 1px;
}

#img4 {
    height: 55px;
    width: 55px;
}

#img5 {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 2px;
}

#img6 {
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-left: 2px;
}

.lingkaran {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #b7d6d4;
    text-align: center;
    box-shadow: 1px 2px 2px black;
}

.jarak {
    margin-top: 20px;
}

.logo {
    height: 55px;
    width: 235px;
    border-radius: 15px;
    background-color: #b7d6d4;
    text-align: center;
    margin-left: 37%;
    box-shadow: 1px 2px 2px black
}

.lingkaran1 {
    margin-left: 37%;
}

.icon2 {
    display: block;
}

.list {
    width: 55px;
    height: 355px;
    background-color: #b7d6d4;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
}

.gambar-utama {
    display: inline-block;
    align-items: center;
    position: absolute;
    left: 19%;
    top: 110px;
}

.gambar-utama #mainGambar {
    background: rgb(83, 171, 212);
    padding: 40px 90px;
    position: relative;
    width: 400px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}